In [6]:
import pandas as pd
import os

In [3]:
files = os.listdir("api_data/processed")
df_list = []

FileNotFoundError: [Errno 2] No such file or directory: 'api_data/processed'

In [ ]:
for file in files:
    path = "api_data/processed/" + file
    df_list.append(pd.read_csv(path).drop(columns="Unnamed: 0"))

In [4]:
df = pd.concat(df_list, axis=0, ignore_index=True, sort=False)

NameError: name 'df_list' is not defined

In [5]:
df.to_csv("data.csv")

NameError: name 'df' is not defined

In [7]:
def generateTargets(df):
    df["Target"] = df["Market Cap"].shift(-1)
    return df[:-1]

In [8]:
df = df.dropna(subset=["Company", "Date"])

In [9]:
df = df.sort_values(["Company", "Date"])

In [10]:
df1 = df.groupby("Company").apply(
    lambda group: generateTargets(group)
)
df1 = df1.droplevel(0)

In [11]:
df1 = df1.dropna()

In [12]:
df1.to_csv("final_cleaned_data.csv")

In [57]:
df1["Test"] = 100*(df1["Target"] - df1["Market Cap"])/df1["Market Cap"]

In [58]:
df1['Label'] = 1
df1.loc[df1['Test'] > 5, 'Label'] = 2
df1.loc[df1['Test'] < -5, 'Label'] = 0

In [59]:
df1 = df1.drop("Test", axis=1)

In [61]:
normalized = pd.DataFrame()
norm_ratios = dict()

In [62]:
for k in list(df1.keys()):
    if k != "Company" and k != "Date" and k != "Label":
        normalized[k] = df1[k] / df1[k].mean()
        norm_ratios[k] = df1[k].mean()
    else:
        normalized[k] = df1[k]

In [63]:
normalized

,Company,Date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,...,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Stock Price,DCF,Target,Label
7144,A,2009-10-31,0.886868,0.002115,0.801338,1.512404,5.039050,2.194117,1.789544,0.421235,...,-0.003472,0.000049,1.985740,0.008460,-0.002455,0.000029,0.135327,0.000206,0.022940,2
7143,A,2010-01-31,0.921826,0.000801,0.831407,1.574427,5.005456,2.215367,1.799080,0.557691,...,-0.003900,0.000032,1.656498,0.007393,-0.002469,0.000126,0.151417,0.000221,0.022895,1
7142,A,2010-04-30,0.965903,0.000972,0.841931,1.696087,5.039050,2.162241,1.770473,0.913665,...,-0.002434,0.000102,7.428519,0.007916,-0.002455,0.000000,0.151417,0.000224,0.019577,0
7141,A,2010-07-31,1.051778,0.001807,0.990773,1.729484,5.173424,2.422560,1.938938,0.682282,...,0.004890,0.000217,12.284836,0.016323,0.000136,0.000423,0.129506,0.000197,0.024647,2
7140,A,2010-10-31,1.197690,0.002820,1.115559,1.989503,5.341393,2.507562,2.005688,1.204376,...,0.007090,0.000155,29.261367,0.006236,0.001252,0.000339,0.163845,0.000236,0.029287,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123581,ZYXI,2018-06-30,0.005755,0.002060,0.002000,0.014893,0.000000,0.018743,0.011214,0.016108,...,0.045584,0.001263,594.230046,-0.020971,0.000000,0.001637,0.019884,0.000021,0.000270,1
123580,ZYXI,2018-09-30,0.006179,0.001498,0.002467,0.015482,0.000000,0.019497,0.011665,0.016731,...,0.029199,0.000690,470.054435,-0.021607,0.000000,0.001059,0.019949,0.000021,0.000270,1
123579,ZYXI,2018-12-31,0.007096,0.003015,0.002753,0.017906,0.000000,0.024576,0.014704,0.017087,...,0.023357,0.000653,94.091140,0.215347,0.000000,0.001271,0.025182,0.000027,0.000440,2
123578,ZYXI,2019-03-31,0.006989,-0.000307,0.002682,0.017681,0.000000,0.027392,0.016389,0.013385,...,0.008672,0.000580,126.243661,0.782841,0.000000,0.000947,0.036432,0.000037,0.000878,2
123577,ZYXI,2019-06-30,0.007825,0.002434,0.002929,0.019917,0.000000,0.030627,0.018325,0.015331,...,0.037179,0.000518,89.697819,1.749624,0.000000,0.001505,0.054877,0.000055,0.000877,1

In [64]:
# pd.DataFrame(norm_ratios)
# norm_ratios

pd.DataFrame(norm_ratios, index=[0]).to_csv("norm_ratios.csv", index=False)
normalized.reset_index(drop=True).to_csv("normalized_data.csv", index=False)

In [65]:
df1[df1["DCF"] == df1["DCF"].max()]

,Company,Date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,...,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Stock Price,DCF,Target,Label
146282,PRU,2011-06-30,1.224700e+10,0.202337,6.035000e+09,6.212000e+09,0.0,0.0,0.0,838000000.0,...,0.0,0.023988,0.0,0.010013,0.0,0.0,58.68,6.954500e+09,100420000.0,2

In [73]:
temp = normalized
normalized = df1

In [77]:
test = normalized[normalized["Date"] >= "2018"].reset_index(drop=True)

In [78]:
other = normalized[normalized["Date"] <= "2018"].reset_index(drop=True)
other = other.sample(frac=1).reset_index(drop=True)

In [79]:
length = len(other)

train_ratio = 0.95
train_samples = (int)(length*train_ratio)

In [80]:
train = other[0:train_samples]
val = other[train_samples:]

In [81]:
train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)

In [96]:
train["Label"].value_counts()[2]/len(train)

0.446832254567484

In [86]:
len(train)

62726

In [1]:
train["Label"]

NameError: name 'train' is not defined