In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv", header = None)

In [5]:
df.head()

,Unnamed: 0,Company,Date,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,...,Free Cash Flow growth,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Stock Price,DCF
0,0,ANTE,2018-12-31,11036000.0,0.065662,NaN,-2138000.0,NaN,NaN,18346500.0,...,NaN,-0.2636,0.0,-0.4230,NaN,NaN,NaN,NaN,2.65,3.956029
1,1,ANTE,2018-09-30,10356000.0,-0.108625,NaN,-2138000.0,NaN,NaN,18346500.0,...,NaN,-0.2636,0.0,-0.4230,NaN,NaN,NaN,NaN,1.70,3.054594
2,2,ANTE,2018-06-30,11618000.0,-0.325437,NaN,-1904000.0,NaN,NaN,18020500.0,...,NaN,-0.9474,0.0,-0.6146,NaN,NaN,NaN,NaN,2.65,3.014265
3,3,ANTE,2018-03-31,17223000.0,-0.738228,NaN,-1904000.0,NaN,NaN,18020500.0,...,NaN,-0.4020,0.0,-0.5592,NaN,NaN,NaN,NaN,3.35,3.714265
4,4,ANTE,2017-12-31,65794000.0,0.000000,NaN,-7356500.0,NaN,NaN,28521000.0,...,NaN,1.5717,0.0,-0.3509,NaN,NaN,NaN,NaN,6.00,6.010755